@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
  --azul-principal: #1b1464;
  --branco-principal: #f2f2f2;
  --azul-secundario: #020219;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background-color: var(--azul-principal);
}

h1 {
  font-family: Quicksand;
  font-weight: 700; 
  opacity: 90%;
  color: var(--branco-principal)
}

h2 {
    font-family: Quicksand;
    color: var(--branco-principal);
}

header {
    background-color: var(--azul-secundario);
}

.header-title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-task {
    padding: 5%;
}

.input{
    background-color: var(--branco-principal);
    border-radius: 5%;
    border-color: var(--branco-principal);
    font-family: 'Courier New', Courier;
    color:var(--azul-secundario);
}

.add-new-task {
    background-color: var(--branco-principal);
    border-radius: 5%;
    border-color: var(--branco-principal);
    font-family: 'Courier New', Courier;
    color: var(--azul-secundario);
}

.active-tasks {
    padding: 5%;
}

.tasks-list{
    color:var(--branco-principal);
    padding-left: 10%;
}

.completed-tasks {
    padding: 5%;
}